div.upper-footer{
    text-align: center;
    color: white;
    background-color: #37475a
}
div.footer-content{
    text-align: center;
    color: white;
    background-color: #232f3e
}
div.lower-footer {
    text-align: center;
    color: white;
    background-color: #131a22
}