<div class="nav-component">
  <div class="row">
    <img class="company-logo" src="" alt="hello!" width="100px" height="25px">
    <searcher></searcher>
    <nav-bar-promtion></nav-bar-promtion>
  </div>
  <div class="row">
    <department-dropdown></department-dropdown>
    <nav>
      <a routerLink="/home" routerLinkActive="active">home</a>
      <a routerLink="/home" routerLinkActive="active">home</a>
      <a routerLink="/home" routerLinkActive="active">home</a>
      <a routerLink="/home" routerLinkActive="active">home</a>
      <a routerLink="/home" routerLinkActive="active">home</a>
    </nav>
    <i18n></i18n>
    <department-dropdown></department-dropdown>
    <department-dropdown></department-dropdown>
    <department-dropdown></department-dropdown>
    <cart></cart>
  </div>
</div>

